<div class="row">
    <div class="col s6 offset-s3">
        <h2>Did you forget the password?</h2>
        <form action="/auth/reset" method="post">
            <div class="input-field">
                <input
                    id="email"
                    name="email"
                    type="text"
                    class="validate"
                    required
                />
                <label for="email">Email</label>
                <span class="helper-text" data-error="Enter your email"></span>
            </div>

            <input type="hidden" name="_csrf" value="{{csrf}}" />
            {{#if error}}
                <p class="alert">{{error}}</p>
            {{/if}}
            <button class="btn btn-primary" type="submit">Send</button>
        </form>
    </div>
</div>